.contenuto-cv{
    margin-top: 140px;
}

.contenuto-cv h2{
    color: orange;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 50px;
}

.contenuto-cv h3{
    color: rgb(216, 232, 247);
}

.contenuto-cv p{
    font-size:18px;
    font-weight: 200;
    line-height: 22px;
    color: rgb(216, 232, 247)
}

.contenuto-cv .cv-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    z-index: 10;
}

.cronologia{
    position: relative;
}

.linea{
    height: 95%;
    position: absolute;
    left: 50%;
    border: 2px solid orange;
    margin-top: 60px;
    border-radius: 3px;
    z-index: 9;
}

.contenuto-cv .lavori{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.cronologia{
    margin-bottom: 60px;
}

