.content-resume{
    margin-top: 140px;
}

.content-resume h1{
    color: orange;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.content-resume h2{
    color: orange;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 50px;
}

.content-resume h3{
    color: rgb(216, 232, 247);
}

.content-resume p{
    font-size:18px;
    font-weight: 200;
    line-height: 22px;
    color: rgb(216, 232, 247)
}

.content-resume .cv-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    z-index: 10;
}

.cronology{
    position: relative;
}

.line{
    height: 95%;
    position: absolute;
    left: 50%;
    border: 2px solid orange;
    margin-top: 60px;
    border-radius: 3px;
    z-index: 9;
}

/*lavori*/

.worklinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.works a{
    text-decoration: none;
}

.content-resume .works{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cronology{
    margin-bottom: 60px;
}

.works img{
    width: 250px;
    border-radius: 3px;
    box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.5);
}

.works img:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.articles, .medit, .portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.third-block h2{
    margin: 0;
}

.immagine{
    margin-bottom: 40px;
}

.contbutton{
    margin-bottom: 50px;
}




/*le mie skills*/

.third-block{
    margin-bottom: 60px;
}

.third-block h2{
    display: block;
    margin: auto;
    text-align: center;
    color: orange;
    font-size: 30px;
    font-weight: 900;
    margin-top: 30px;
}

.skills-container{
    display: flex;
    justify-content: center;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
}

.skills .title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: rgb(216, 232, 247);
}

.skills .skills-button{
    height: 110px;
    width: 130px;
    margin: 6px;
    background-color:#267287;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills .skills-button:hover{
    background-color: rgba(255, 255, 255, 0.396);
}

.skills img{
    width: 50%;
}


