

@media only screen and (min-width: 501px) and (max-width: 768px) {           /*fino a smartphone grandi*/

    .header-body{
        display: block;
        width: 500;
    }

    .content .pulsante-header{
        width: 300px;
    }

    .content .skills{
        width: 100%;
    }

    .pulsante{
        width: 200px;
        height: 40px;
    }

    .form{
        display: flex;
        max-width: 500px;
    }

    .content-contatti h2{
        margin-left: 50px;
        margin-right: 50px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1023px){              /*tablet*/
    
    .header-body{
        display: block;
        width: 700px;
        }

        .content .pulsante-header{
            width: 300px;
        }

        .pulsante{
            width: 200px;
            height: 40px;
        }

        .skills{
            width: 100%;
        }

        .form-mail{
            width: 600px;
        }

        .form{
            display: flex;
            width: 600px;
        }

        .form-nome input{
            width: 400px;
        }
    
        .form-nome textarea{
            width: 400px;
            max-width: 400px;
        }
    
}

@media only screen and (min-width: 1024px){                                  /*latop e monitor grandi*/

    .header-body{
        display: block;
        width: 900px;
    }

    /*chi sono*/

    .content .nome h1{
        font-size: 60px;
    }

    .content .nome h2{
        font-size: 40px;
    }

    .content p{
        margin-left: 30px;
        margin-right: 30px;
    }

    .content .secondo-blocco .primo{
        width: 350px;
    }

    .content .pulsante-header{
        width: 300px;
    }

    .content .secondo-blocco h2{
        font-size:30px;
    }


    /*cv*/

    .content-cv h2{
        font-size: 30px;
    }

    .content-cv .cv-box p{
        width: 600px;
    }
 
    .pulsante{
        width: 200px;
        height: 40px;
    }

    .skills .titolo{
        font-size: 20px;
    }

    .cv-box{
        width:700px
    }

    .content-cv .lavori{
        flex-direction: row;
        width: 90%;
    }

    .content-cv .lavori .articoli, .medit{
        margin-left: 15px;
        margin-right: 15px;
    }

    .lavori img{
        width: 300px;
    }

    .content .terzo-blocco h2{
        font-size: 40px;
    }

    .skills .pulsante-skills{
        width: 160px;
        height: 140px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .skills{
        width: 100%;
    }

    .pulsante-skills img{
        width: 40%;
    }

    /*contatti*/

    .content-contatti h2{
        font-size: 40px;
    }

    .form-mail{
        width: 600px;
    }

    .form{
        margin-top: 0;
        min-width: 500px;
        max-width: 600px;
    }

    .form-nome input{
        width: 400px;
    }

    .form-nome textarea{
        width: 400px;
        max-width: 400px;
    }

    .content-contatti{
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 120px;
    }

    .content-contatti h2{
        min-width: 400px;
        max-width: 400px;
        line-height: 45px;
    }

    .content-contatti .testo{
        min-width: 300px;
        margin-right: 70px;
    }

}

